<div class="card border-secondary shadow px-2 py-2">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6 ui-lg-6">
            <label>Listado de Pokemon</label>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align: center;">Nombre</th>
                    <th style="text-align: center;">Imagen</th>
                    <th style="text-align: center;">Ataque</th>
                    <th style="text-align: center;">Defensa</th>
                    <th style="text-align: center;">Acciones</th>
                </tr>
            </thead>
        
            <!-- <tbody *ngFor="let evento of eventos">
                <tr>
                    <td><b>{{evento['name']}}</b></td>
                    <td *ngFor="let relacion of relaciones">{{relacion['type']}}</td>
                </tr>
            </tbody> -->
        
        </table>
    </div>
</div>